.all-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color:#3B8C66;
  }

footer {
    padding-top: 30px;
    font-size: 200%;
}

nav {
    background-color:#347355;
    margin: 0;
    padding: 0;
}

nav a {
    color:#223240;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
    border-style: solid;
    border-color:#347355 #347355 #223240 #347355;
}

tr:nth-child(even) {
    background:lightgray;
}

img {
    width: 50%;
    height: auto;
}